.navWrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	border: 3px solid black; 
}
nav {
	padding-left: 70%;
	padding-top: 30px;
	font-size: 20px;
}

.mainWrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	border: 3px solid black;
}

.mainWrapper a {
	border: 3px solid black;
}

footer {
border: 3px solid black;
	margin-top: 50%;
	

}
